[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "components/lvgl_esp32_drivers"]
	path = components/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers
[submodule "components/json/cJSON"]
	path = components/json/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "components/esp32-sht3x"]
	path = components/esp32-sht3x
	url = https://github.com/ma-lwa-re/esp32-sht3x
